*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ecf0f1;
  --bg-color: #34495e;
}
body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.container {
  width: 400px;
  padding: 40px;
  background-color: var(--bg-color);
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: var(--primary);
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary);
}

.container textarea {
  position: relative;
  margin-bottom: 20px;
  resize: none;
  width: 100%;
  padding: 16px 8px;
  height: 200px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #2c3e50;
  background-color: var(--bg-color);
  color: var(--primary);
  font-size: 1rem;
}

.container textarea::placeholder {
  color: #bdc3c7;
}

.container p {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--primary);
}

.container p .counter {
  font-size: 2rem;
  font-weight: 700;
  color: #3498d8;
}
